html {
  box-sizing: border-box;
  font-size: 0.9rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#title {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color:#8360db;
  height: 40px;
}

#img {
  margin: auto;
  width: 20%;
  height: 250px;
  border: 1px solid gray;
  padding: 10px;
  background-size: 100% 100%;
}
